* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: purple;
}
div {
  text-align: center;
  margin-top: 20vw;
}
h1 {
  font-family: Fredoka;
  color: white;
  text-shadow: 0 0 5vw black;
}
input {
  border: none;
  margin-left: 1vw;
  margin-top: 1vw;
  width: 35vw;
  height: 15vw;
  border-radius: 5vw;
  text-align: center;
  font-size: 7vw;
}
.box-button {
  margin-top: 1vw;
}
button {
  width: 17vw;
  height: 10vw;
  border: none;
  border-radius: 3vw;
  margin-left: 1vw;
}
h2 {
}
.resultado {
  text-align: center;
  font-size: 13vw;
  margin-left: 15vw;
  margin-top: -15vw;
  width: 70vw;
  height: 15vw;
  background-color: white;
  border: none;
  border-radius: 5vw;
  font-size: ;
}
